

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: #FBB040;
  text-align: center;
  margin: 20px;
}

p {
  font-size: 13px;
  text-align: center;
  font-family: 'muli', sans-serif;
}

#AboutPic {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
}

a.button {
  padding: 10px 30px 10px 30px;
  color: #FFF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  background-color: #FBBF6D;
  display: inline;
  margin: 5px;
}

a.button:hover {
  background-color: #F9AF4C;
}

#nav {
  text-align: center;
  margin-bottom: 30px; 
}

a {
  text-decoration: none;
}

#IconSocialMedia {
  height: 45px;
  margin: 5px;
}

#SocialMedia {
  text-align: center;
}