
body {
  left: 10px;
  right: 10px;
}

.media {
  overflow: hidden;
}

.media-object {
  float: left;
  width:40%;
}

.media-object img {

  
}

.media-content {
  float: left;
  width: 55%;
  margin-left: 5%;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: #FBB040;
  text-align: center;
  margin: 20px;
}

h2 {
  font-size: 18px;
  font-family: 'muli', sans-serif;
}

p {
  font-size: 13px;
  font-family: 'muli', sans-serif;
  margin-right: 5%;
}

#AboutPic {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 400px;
  height: auto;
}

a.button {
  padding: 10px 30px 10px 30px;
  color: #FFF;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  background-color: #FBBF6D;
  margin: 5px;
}

a.button:hover {
  background-color: #F9AF4C;
}

#nav {
  text-align: center;
  margin-bottom: 5%; 
}

a {
  text-decoration: none;
}

#IconSocialMedia {
  height: 45px;
  margin: 5px;
}

#SocialMedia {
  text-align: center;
  top: 99%;
}

.clear {
  width: 100%;
  clear: both;
}